In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import tensorflow as tf

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
rating = pd.read_csv('/Users/blakemyers/Desktop/Jupyter/ml-latest-small/ratings.csv', sep=',', error_bad_lines=False, encoding='latin-1')

In [6]:
rating.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [7]:
movie= pd.read_csv("/Users/blakemyers/Desktop/Jupyter/ml-latest-small/movies.csv", sep=',', error_bad_lines=False, encoding='latin-1')

In [8]:
movie.head(4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance

In [9]:
movie_rating=pd.merge(rating, movie, on='movieId')

In [10]:
movie_rating.head(5)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy