In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [2]:
rating = pd.read_csv('/Users/blakemyers/Desktop/data/ratings.csv', error_bad_lines=False, encoding='latin-1')

In [3]:
movie = pd.read_csv("/Users/blakemyers/Desktop/data/movies.csv", error_bad_lines=False, encoding='latin-1')

In [4]:
movie_rating = pd.merge(rating, movie, on = 'movieId')

In [5]:
cols = ['timestamp']

In [6]:
movie_rating.drop(cols, axis=1, inplace=True)

In [7]:
numrate_movie = movie_rating.groupby("title")["rating"].count().reset_index()

In [8]:
numrate_movie.rename({"rating": "ratecount_movie"}, axis=1, inplace=True)

In [9]:
numrate_movie = numrate_movie.query("ratecount_movie >= 20")

In [10]:
ratings20plus = pd.merge(numrate_movie, movie_rating, on = 'title', how = 'inner')

In [11]:
numrate_user = ratings20plus.groupby("userId")["rating"].count().reset_index()

In [12]:
numrate_user.rename({"rating": "ratecount_user"}, axis=1, inplace=True)

In [13]:
numrate_user = numrate_user.query("ratecount_user >= 20")

In [14]:
ur20plus = pd.merge(ratings20plus, numrate_user, on = "userId", how = "inner")

In [15]:
ur20plus = ur20plus.append(pd.DataFrame([["A.I. Artificial Intelligence (2001)",1,9999999,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)

In [16]:
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled

In [17]:
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [18]:
user_movie_matrix.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.777778
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.555556,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

In [19]:
X_train, X_test = train_test_split(user_movie_matrix, train_size=0.8)

In [20]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /Users/blakemyers/opt/anaconda3/envs/tf_environment/lib/python3.7/site-packages/tensorflow_core/python/compat/v2_compat.py:65: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [21]:
num_input = ur20plus['title'].nunique()
n_nodes_inpl = num_input  
n_nodes_hl1  = 256  
n_nodes_outl = num_input  
hidden_1_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_inpl+1,n_nodes_hl1]))}
output_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_hl1+1,n_nodes_outl]))}

In [22]:
input_layer = tf.placeholder('float', [None, num_input])
# add a constant node to the first layer
# it needs to have the same shape as the input layer for me to be
# able to concatinate it later
input_layer_const = tf.fill( [tf.shape(input_layer)[0], 1] ,1.0  )
input_layer_concat =  tf.concat([input_layer, input_layer_const], 1)
# multiply output of input_layer wth a weight matrix 
layer_1 = tf.nn.sigmoid(tf.matmul(input_layer_concat,hidden_1_layer_vals['weights']))
# adding one bias node to the hidden layer
layer1_const = tf.fill( [tf.shape(layer_1)[0], 1] ,1.0  )
layer_concat =  tf.concat([layer_1, layer1_const], 1)
# multiply output of hidden with a weight matrix to get final output
output_layer = tf.matmul( layer_concat,output_layer_vals['weights'])
# output_true shall have the original shape for error calculations
output_true = tf.placeholder('float', [None, num_input])
# define our cost function
meansq =    tf.reduce_mean(tf.square(output_layer - output_true))
# define our optimizer
learn_rate = 0.1   # how fast the model should learn
optimizer = tf.train.AdagradOptimizer(learn_rate).minimize(meansq)

WARNING:tensorflow:From /Users/blakemyers/opt/anaconda3/envs/tf_environment/lib/python3.7/site-packages/tensorflow_core/python/training/adagrad.py:76: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [23]:
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)
# defining batch size, number of epochs and learning rate
batch_size = 100  # how many images to use together for training
hm_epochs =200    # how many times to go through the entire dataset
tot_images = X_train.shape[0] # total number of images

In [24]:
for epoch in range(hm_epochs):
    epoch_loss = 0    # initializing error as 0
    
    for i in range(int(tot_images/batch_size)):
        epoch_x = X_train[ i*batch_size : (i+1)*batch_size ]
        _, c = sess.run([optimizer, meansq],\
               feed_dict={input_layer: epoch_x, \
               output_true: epoch_x})
        epoch_loss += c
        
    output_train = sess.run(output_layer,\
               feed_dict={input_layer:X_train})
    output_test = sess.run(output_layer,\
                   feed_dict={input_layer:X_test})
        
    print('MSE train', MSE(output_train, X_train),'MSE test', MSE(output_test, X_test))      
    print('Epoch', epoch, '/', hm_epochs, 'loss:',epoch_loss)

MSE train 89.96492036064706 MSE test 91.40298170226646
Epoch 0 / 200 loss: 421.17105865478516
MSE train 74.49256635097204 MSE test 75.73179818294422
Epoch 1 / 200 loss: 335.15612030029297
MSE train 64.42942806256198 MSE test 65.57300277497373
Epoch 2 / 200 loss: 282.2219772338867
MSE train 57.48358917444341 MSE test 58.590559079518535
Epoch 3 / 200 loss: 247.02777099609375
MSE train 52.46268154015393 MSE test 53.547939670047676
Epoch 4 / 200 loss: 222.34178924560547
MSE train 48.69304905843875 MSE test 49.78673178749168
Epoch 5 / 200 loss: 204.25551223754883
MSE train 45.77716343558368 MSE test 46.89450244211063
Epoch 6 / 200 loss: 190.52746200561523
MSE train 43.46722333565716 MSE test 44.620625653979374
Epoch 7 / 200 loss: 179.8059310913086
MSE train 41.59448060705847 MSE test 42.791357474875156
Epoch 8 / 200 loss: 171.23655319213867
MSE train 40.04200060868408 MSE test 41.290264572092916
Epoch 9 / 200 loss: 164.22450637817383
MSE train 38.73138475442937 MSE test 40.035988303675
Epoch 10 / 200 loss: 158.3655242919922
MSE train 37.6070768272391 MSE test 38.96795714099117
Epoch 11 / 200 loss: 153.38547897338867
MSE train 36.62797544409605 MSE test 38.04216637381552
Epoch 12 / 200 loss: 149.08733749389648
MSE train 35.76237804724386 MSE test 37.22587120046784
Epoch 13 / 200 loss: 145.3212776184082
MSE train 34.986407100713095 MSE test 36.49535884953644
Epoch 14 / 200 loss: 141.9702377319336
MSE train 34.2823666412444 MSE test 35.83404203711606
Epoch 15 / 200 loss: 138.94843292236328
MSE train 33.63724557742051 MSE test 35.22923376418293
Epoch 16 / 200 loss: 136.19407272338867
MSE train 33.04143203215927 MSE test 34.67002741361862
Epoch 17 / 200 loss: 133.6610336303711
MSE train 32.487834777621885 MSE test 34.14818939384141
Epoch 18 / 200 loss: 131.31475067138672
MSE train 31.968782517115812 MSE test 33.65744861054805
Epoch 19 / 200 loss: 129.1277256011963
MSE train 31.476975413176177 MSE test 33.19196384575566
Epoch 20 / 200 loss: 127.06913566589355
MSE train 31.007381780388666 MSE test 32.747175576131696
Epoch 21 / 200 loss: 125.11178207397461
MSE train 30.556992626638298 MSE test 32.31999813964369
Epoch 22 / 200 loss: 123.23789978027344
MSE train 30.123384965535703 MSE test 31.907985308339335
Epoch 23 / 200 loss: 121.43675994873047
MSE train 29.704882461973416 MSE test 31.509492864291303
Epoch 24 / 200 loss: 119.69989204406738
MSE train 29.301252466834 MSE test 31.12389941869416
Epoch 25 / 200 loss: 118.02345085144043
MSE train 28.91152438724808 MSE test 30.7502426721168
Epoch 26 / 200 loss: 116.40698051452637
MSE train 28.53329841392501 MSE test 30.386922515996563
Epoch 27 / 200 loss: 114.84454345703125
MSE train 28.16443880564198 MSE test 30.032952055806298
Epoch 28 / 200 loss: 113.32620429992676
MSE train 27.802993471405642 MSE test 29.687263361044526
Epoch 29 / 200 loss: 111.84333419799805
MSE train 27.447064467139548 MSE test 29.347543000306977
Epoch 30 / 200 loss: 110.3874683380127
MSE train 27.095537181120772 MSE test 29.01140362046677
Epoch 31 / 200 loss: 108.95158195495605
MSE train 26.747776062330086 MSE test 28.677177147882
Epoch 32 / 200 loss: 107.53195381164551
MSE train 26.404169070581307 MSE test 28.34522306004667
Epoch 33 / 200 loss: 106.1270637512207
MSE train 26.066332441647962 MSE test 28.017508200274857
Epoch 34 / 200 loss: 104.74051666259766
MSE train 25.73500889131181 MSE test 27.69483270224699
Epoch 35 / 200 loss: 103.37877655029297
MSE train 25.409720296717406 MSE test 27.377060933855518
Epoch 36 / 200 loss: 102.04337501525879
MSE train 25.089853074405916 MSE test 27.06434896153147
Epoch 37 / 200 loss: 100.7319278717041
MSE train 24.77512377040847 MSE test 26.75703830816243
Epoch 38 / 200 loss: 99.4422664642334
MSE train 24.465374790067393 MSE test 26.455133157892682
Epoch 39 / 200 loss: 98.17349052429199
MSE train 24.16030192961461 MSE test 26.15802586658053
Epoch 40 / 200 loss: 96.92462539672852
MSE train 23.85944756124024 MSE test 25.8647768873789
Epoch 41 / 200 loss: 95.69386291503906
MSE train 23.562388302723306 MSE test 25.57499630999442
Epoch 42 / 200 loss: 94.47918319702148
MSE train 23.268911794063243 MSE test 25.289218850513514
Epoch 43 / 200 loss: 93.27911758422852
MSE train 22.979484656917837 MSE test 25.008561267029858
Epoch 44 / 200 loss: 92.09335708618164
MSE train 22.69488126183273 MSE test 24.733676938595096
Epoch 45 / 200 loss: 90.92453193664551
MSE train 22.415362460419143 MSE test 24.46417463763198
Epoch 46 / 200 loss: 89.77569389343262
MSE train 22.140799284171372 MSE test 24.199236742576257
Epoch 47 / 200 loss: 88.64764595031738
MSE train 21.870810300967687 MSE test 23.93806066913559
Epoch 48 / 200 loss: 87.53975296020508
MSE train 21.604894581472326 MSE test 23.67997610393304
Epoch 49 / 200 loss: 86.45036888122559
MSE train 21.342566887230273 MSE test 23.42469814609064
Epoch 50 / 200 loss: 85.37736892700195
MSE train 21.083535515618053 MSE test 23.172481289851678
Epoch 51 / 200 loss: 84.31894111633301
MSE train 20.827799355660883 MSE test 22.9235732823755
Epoch 52 / 200 loss: 83.27412605285645
MSE train 20.575536569823768 MSE test 22.67778802869979
Epoch 53 / 200 loss: 82.2429428100586
MSE train 20.32694006494268 MSE test 22.434952473191082
Epoch 54 / 200 loss: 81.22583770751953
MSE train 20.082401562960378 MSE test 22.195234515439807
Epoch 55 / 200 loss: 80.22375106811523
MSE train 19.842374512136217 MSE test 21.958988186840216
Epoch 56 / 200 loss: 79.23873138427734
MSE train 19.60689188406598 MSE test 21.726381415273124
Epoch 57 / 200 loss: 78.27234268188477
MSE train 19.37557144707442 MSE test 21.497166480962438
Epoch 58 / 200 loss: 77.32433319091797
MSE train 19.14764451097345 MSE test 21.27078627062434
Epoch 59 / 200 loss: 76.39296531677246
MSE train 18.9225237464675 MSE test 21.046787743277772
Epoch 60 / 200 loss: 75.47503662109375
MSE train 18.70020668750977 MSE test 20.825113491501167
Epoch 61 / 200 loss: 74.56869888305664
MSE train 18.48107098899767 MSE test 20.60603709146036
Epoch 62 / 200 loss: 73.67449760437012
MSE train 18.26550661560529 MSE test 20.389924329329673
Epoch 63 / 200 loss: 72.79416465759277
MSE train 18.053885855156945 MSE test 20.17706289092019
Epoch 64 / 200 loss: 71.92930221557617
MSE train 17.846414766273693 MSE test 19.967545256071762
Epoch 65 / 200 loss: 71.08134078979492
MSE train 17.643005887102476 MSE test 19.761259360178702
Epoch 66 / 200 loss: 70.25080299377441
MSE train 17.443394051037888 MSE test 19.55804413960127
Epoch 67 / 200 loss: 69.4371109008789
MSE train 17.24730334407174 MSE test 19.357748217497146
Epoch 68 / 200 loss: 68.63901329040527
MSE train 17.05461293308045 MSE test 19.160304543116194
Epoch 69 / 200 loss: 67.85532188415527
MSE train 16.865308394584257 MSE test 18.965732484522785
Epoch 70 / 200 loss: 67.08555793762207
MSE train 16.679348518424337 MSE test 18.774052856153045
Epoch 71 / 200 loss: 66.3296012878418
MSE train 16.496565310488375 MSE test 18.585193135375043
Epoch 72 / 200 loss: 65.58710479736328
MSE train 16.31665033610348 MSE test 18.39895712055417
Epoch 73 / 200 loss: 64.85713386535645
MSE train 16.13922802118227 MSE test 18.215103510883367
Epoch 74 / 200 loss: 64.13827228546143
MSE train 15.963902364067389 MSE test 18.033437455961966
Epoch 75 / 200 loss: 63.42899036407471
MSE train 15.790300589055327 MSE test 17.85386500355377
Epoch 76 / 200 loss: 62.727779388427734
MSE train 15.618234919162385 MSE test 17.676472215030838
Epoch 77 / 200 loss: 62.033339500427246
MSE train 15.447818433514504 MSE test 17.50154133751212
Epoch 78 / 200 loss: 61.34520721435547
MSE train 15.279337394237949 MSE test 17.329380951920715
Epoch 79 / 200 loss: 60.66407012939453
MSE train 15.113106928725411 MSE test 17.160212461814012
Epoch 80 / 200 loss: 59.9912223815918
MSE train 14.94949824440709 MSE test 16.99421877924364
Epoch 81 / 200 loss: 59.328186988830566
MSE train 14.788891161160135 MSE test 16.831472870281534
Epoch 82 / 200 loss: 58.67676258087158
MSE train 14.631414354407152 MSE test 16.6718178458201
Epoch 83 / 200 loss: 58.03832530975342
MSE train 14.476924075330288 MSE test 16.51496719086827
Epoch 84 / 200 loss: 57.412909507751465
MSE train 14.325107073555039 MSE test 16.360596209530968
Epoch 85 / 200 loss: 56.799527168273926
MSE train 14.17559366607582 MSE test 16.208431006629162
Epoch 86 / 200 loss: 56.196678161621094

MSE train 14.027994679261921 MSE test 16.058291366632005
Epoch 87 / 200 loss: 55.60274791717529
MSE train 13.881930059329957 MSE test 15.910095246608494
Epoch 88 / 200 loss: 55.01607608795166
MSE train 13.737130376491967 MSE test 15.763841196733834
Epoch 89 / 200 loss: 54.43508529663086
MSE train 13.593617294911649 MSE test 15.619552694383177
Epoch 90 / 200 loss: 53.85881519317627
MSE train 13.451745836040473 MSE test 15.47725218305117
Epoch 91 / 200 loss: 53.28773593902588
MSE train 13.311811439498719 MSE test 15.336924265526001
Epoch 92 / 200 loss: 52.72353553771973
MSE train 13.173834154344476 MSE test 15.198518346634645
Epoch 93 / 200 loss: 52.16720485687256
MSE train 13.037729374652594 MSE test 15.062006391824248
Epoch 94 / 200 loss: 51.61858558654785
MSE train 12.903370428510087 MSE test 14.92736604297503
Epoch 95 / 200 loss: 51.07716941833496
MSE train 12.770560570234192 MSE test 14.794560147596862
Epoch 96 / 200 loss: 50.5423698425293
MSE train 12.639181132383946 MSE test 14.663579655190844
Epoch 97 / 200 loss: 50.01346015930176
MSE train 12.5093591037 MSE test 14.534500642263925
Epoch 98 / 200 loss: 49.49008560180664
MSE train 12.381460820020447 MSE test 14.407488604727222
Epoch 99 / 200 loss: 48.972886085510254
MSE train 12.255863746415926 MSE test 14.282715550051519
Epoch 100 / 200 loss: 48.46335315704346
MSE train 12.132667879347144 MSE test 14.160265006460879
Epoch 101 / 200 loss: 47.96289539337158
MSE train 12.011739198911053 MSE test 14.040102439780485
Epoch 102 / 200 loss: 47.471747398376465
MSE train 11.892898571710857 MSE test 13.922088179902792
Epoch 103 / 200 loss: 46.989312171936035
MSE train 11.77599214581833 MSE test 13.806008384332818
Epoch 104 / 200 loss: 46.514888763427734
MSE train 11.66094528800564 MSE test 13.69164375993475
Epoch 105 / 200 loss: 46.04795169830322
MSE train 11.54781689946227 MSE test 13.578887870113583
Epoch 106 / 200 loss: 45.58835792541504
MSE train 11.436717767908315 MSE test 13.46781726325557
Epoch 107 / 200 loss: 45.1365442276001
MSE train 11.32763450674949 MSE test 13.358546737122417
Epoch 108 / 200 loss: 44.69295310974121
MSE train 11.220425458804755 MSE test 13.251115222138372
Epoch 109 / 200 loss: 44.25739860534668
MSE train 11.114893681488562 MSE test 13.14547550520256
Epoch 110 / 200 loss: 43.82918071746826
MSE train 11.010835333045835 MSE test 13.041461435167088
Epoch 111 / 200 loss: 43.4074068069458
MSE train 10.908115994438173 MSE test 12.938847241998207
Epoch 112 / 200 loss: 42.991196632385254
MSE train 10.806702679691792 MSE test 12.837442739067079
Epoch 113 / 200 loss: 42.5800724029541
MSE train 10.706575156403733 MSE test 12.737103976652746
Epoch 114 / 200 loss: 42.17396926879883
MSE train 10.607599358429004 MSE test 12.637656971491955
Epoch 115 / 200 loss: 41.772748947143555
MSE train 10.509546513062066 MSE test 12.538877911403207
Epoch 116 / 200 loss: 41.37567329406738
MSE train 10.412279746744488 MSE test 12.440637386013872
Epoch 117 / 200 loss: 40.98183822631836
MSE train 10.315817349941765 MSE test 12.343057569021415
Epoch 118 / 200 loss: 40.590996742248535
MSE train 10.22024205182704 MSE test 12.246374133488379
Epoch 119 / 200 loss: 40.20355701446533
MSE train 10.12567340377391 MSE test 12.150795587960035
Epoch 120 / 200 loss: 39.820069313049316
MSE train 10.032019330183052 MSE test 12.056505637116667
Epoch 121 / 200 loss: 39.4408597946167
MSE train 9.939046103060358 MSE test 11.96364588356946
Epoch 122 / 200 loss: 39.06529712677002
MSE train 9.846711843679152 MSE test 11.87237402244986
Epoch 123 / 200 loss: 38.69264316558838
MSE train 9.755373187185453 MSE test 11.78287291937136
Epoch 124 / 200 loss: 38.32330322265625
MSE train 9.665556049789611 MSE test 11.69530047484351
Epoch 125 / 200 loss: 37.9590539932251
MSE train 9.577490060528948 MSE test 11.60942447989533
Epoch 126 / 200 loss: 37.60153293609619
MSE train 9.491089062940413 MSE test 11.524697496147445
Epoch 127 / 200 loss: 37.250967025756836
MSE train 9.406153452102627 MSE test 11.440787584498628
Epoch 128 / 200 loss: 36.90671634674072
MSE train 9.32246439591595 MSE test 11.3576003173457
Epoch 129 / 200 loss: 36.56797409057617
MSE train 9.239843478802332 MSE test 11.275123012034516
Epoch 130 / 200 loss: 36.2339563369751
MSE train 9.158203759318818 MSE test 11.193398962217927
Epoch 131 / 200 loss: 35.90403747558594
MSE train 9.077534486112734 MSE test 11.112521861631079
Epoch 132 / 200 loss: 35.57791614532471
MSE train 8.997844578035192 MSE test 11.032591751001197
Epoch 133 / 200 loss: 35.255489349365234
MSE train 8.91916023096803 MSE test 10.953693693246217
Epoch 134 / 200 loss: 34.93673896789551
MSE train 8.841572229416563 MSE test 10.875925770913948
Epoch 135 / 200 loss: 34.62177848815918
MSE train 8.765259586216699 MSE test 10.799421517453528
Epoch 136 / 200 loss: 34.31106376647949
MSE train 8.690418600355644 MSE test 10.724330905808126
Epoch 137 / 200 loss: 34.00542449951172
MSE train 8.617136621473152 MSE test 10.650763238488956
Epoch 138 / 200 loss: 33.705671310424805
MSE train 8.545384928230488 MSE test 10.578764237195639
Epoch 139 / 200 loss: 33.412102699279785
MSE train 8.475103484588049 MSE test 10.508342192380123
Epoch 140 / 200 loss: 33.12460708618164
MSE train 8.406246370330841 MSE test 10.439490623550489
Epoch 141 / 200 loss: 32.842968463897705
MSE train 8.33877454007733 MSE test 10.372194674051116
Epoch 142 / 200 loss: 32.56701707839966
MSE train 8.272634985166295 MSE test 10.306428858636787
Epoch 143 / 200 loss: 32.29658365249634
MSE train 8.207769038411376 MSE test 10.24215496836517
Epoch 144 / 200 loss: 32.03142976760864
MSE train 8.144135445501705 MSE test 10.17932215064766
Epoch 145 / 200 loss: 31.77132272720337
MSE train 8.081685584883996 MSE test 10.117856377971993
Epoch 146 / 200 loss: 31.516090869903564
MSE train 8.020326365465904 MSE test 10.057660551735019
Epoch 147 / 200 loss: 31.265501499176025
MSE train 7.959956045335891 MSE test 9.998639653946022
Epoch 148 / 200 loss: 31.019116401672363
MSE train 7.900536519935438 MSE test 9.940728425199135
Epoch 149 / 200 loss: 30.776538848876953
MSE train 7.8421267230897715 MSE test 9.883910966495293
Epoch 150 / 200 loss: 30.53770351409912
MSE train 7.784826575602464 MSE test 9.828209577828325
Epoch 151 / 200 loss: 30.30295181274414
MSE train 7.728697829995955 MSE test 9.773647239404712
Epoch 152 / 200 loss: 30.07271432876587
MSE train 7.67375797487344 MSE test 9.720217518055913
Epoch 153 / 200 loss: 29.84723138809204
MSE train 7.619985095201422 MSE test 9.667884691451414
Epoch 154 / 200 loss: 29.626561641693115
MSE train 7.56732775385967 MSE test 9.616601246366379
Epoch 155 / 200 loss: 29.410584926605225
MSE train 7.5157445824063345 MSE test 9.566329883230877
Epoch 156 / 200 loss: 29.199063777923584
MSE train 7.465220404998528 MSE test 9.517050194681989
Epoch 157 / 200 loss: 28.991838932037354
MSE train 7.415735166282891 MSE test 9.46874696709546
Epoch 158 / 200 loss: 28.788859367370605
MSE train 7.3672290294695495 MSE test 9.421388871660206
Epoch 159 / 200 loss: 28.590030193328857
MSE train 7.319611622766224 MSE test 9.374919783301033
Epoch 160 / 200 loss: 28.39509677886963
MSE train 7.272798935942013 MSE test 9.329267256321224
Epoch 161 / 200 loss: 28.20369577407837
MSE train 7.226741482623042 MSE test 9.284360219236332
Epoch 162 / 200 loss: 28.01551389694214
MSE train 7.181425181410929 MSE test 9.240143971199302
Epoch 163 / 200 loss: 27.830400466918945
MSE train 7.136847822166116 MSE test 9.196585395508054
Epoch 164 / 200 loss: 27.648335456848145
MSE train 7.092995878503032 MSE test 9.153666035642559
Epoch 165 / 200 loss: 27.469311714172363
MSE train 7.049842488310714 MSE test 9.111370852625923
Epoch 166 / 200 loss: 27.293256759643555
MSE train 7.007357074940026 MSE test 9.06968243389949
Epoch 167 / 200 loss: 27.120052814483643
MSE train 6.965507419542988 MSE test 9.02858003085612
Epoch 168 / 200 loss: 26.949573040008545
MSE train 6.924253195028659 MSE test 8.98804103931347
Epoch 169 / 200 loss: 26.78168773651123
MSE train 6.883546916923033 MSE test 8.948042578310895
Epoch 170 / 200 loss: 26.616236686706543
MSE train 6.843343072868332 MSE test 8.908561469398151
Epoch 171 / 200 loss: 26.453026294708252
MSE train 6.803604442779817 MSE test 8.86957530550814
Epoch 172 / 200 loss: 26.291862964630127

MSE train 6.764302983353759 MSE test 8.831061015365627
Epoch 173 / 200 loss: 26.13259506225586
MSE train 6.725418187697144 MSE test 8.79299569507986
Epoch 174 / 200 loss: 25.975111961364746
MSE train 6.686934640102498 MSE test 8.755356041509739
Epoch 175 / 200 loss: 25.819321632385254
MSE train 6.6488399095492055 MSE test 8.718119340442874
Epoch 176 / 200 loss: 25.665165424346924
MSE train 6.611122688543493 MSE test 8.681263515619518
Epoch 177 / 200 loss: 25.512583255767822
MSE train 6.573772734583093 MSE test 8.644769229298992
Epoch 178 / 200 loss: 25.36152696609497
MSE train 6.536783415807143 MSE test 8.608621468475013
Epoch 179 / 200 loss: 25.211952209472656
MSE train 6.500157270003603 MSE test 8.572812138417333
Epoch 180 / 200 loss: 25.063830375671387
MSE train 6.463911244604017 MSE test 8.537339915483619
Epoch 181 / 200 loss: 24.91718339920044
MSE train 6.428071790897124 MSE test 8.502207491998767
Epoch 182 / 200 loss: 24.77208709716797
MSE train 6.392656575626783 MSE test 8.467411820642136
Epoch 183 / 200 loss: 24.628660678863525
MSE train 6.357662922426793 MSE test 8.43294006467453
Epoch 184 / 200 loss: 24.48697328567505
MSE train 6.323075499250836 MSE test 8.39877275741909
Epoch 185 / 200 loss: 24.347007274627686
MSE train 6.28888195886565 MSE test 8.364893419246888
Epoch 186 / 200 loss: 24.208702564239502
MSE train 6.255082361861923 MSE test 8.331293833116604
Epoch 187 / 200 loss: 24.072014808654785
MSE train 6.221688584976284 MSE test 8.297974247543076
Epoch 188 / 200 loss: 23.936959743499756
MSE train 6.188715595789685 MSE test 8.264936641623803
Epoch 189 / 200 loss: 23.803602695465088
MSE train 6.1561717376845015 MSE test 8.232176777821094
Epoch 190 / 200 loss: 23.67200756072998
MSE train 6.124051277997401 MSE test 8.199680791992517
Epoch 191 / 200 loss: 23.542198657989502
MSE train 6.092333567491446 MSE test 8.16743106050754
Epoch 192 / 200 loss: 23.41414499282837
MSE train 6.060992524004953 MSE test 8.135424094801275
Epoch 193 / 200 loss: 23.287755966186523
MSE train 6.030015635891761 MSE test 8.103694130916196
Epoch 194 / 200 loss: 23.162921905517578
MSE train 5.999411713502051 MSE test 8.07231388623353
Epoch 195 / 200 loss: 23.039589405059814
MSE train 5.9691838345650385 MSE test 8.041345335937633
Epoch 196 / 200 loss: 22.91777753829956
MSE train 5.939302576107806 MSE test 8.010791001102367
Epoch 197 / 200 loss: 22.7974591255188
MSE train 5.909720836473489 MSE test 7.980611232976417
Epoch 198 / 200 loss: 22.67847967147827
MSE train 5.880399480307672 MSE test 7.950766211743883
Epoch 199 / 200 loss: 22.560653686523438

In [25]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [26]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999999]

         userId                                              title    rating
735066  9999999                                       Ronin (1998)  8.881796
734748  9999999                            Knight's Tale, A (2001)  8.210431
734373  9999999  Cowboy Bebop: The Movie (Cowboy Bebop: Tengoku...  7.323219
734857  9999999                           Miller's Crossing (1990)  7.304662
734651  9999999              Home Alone 2: Lost in New York (1992)  7.096229
734283  9999999                                       Brave (2012)  7.069924
735327  9999999                                Village, The (2004)  6.744802
734783  9999999                              Little Big Man (1970)  6.672563
735329  9999999                                     WALLÂ·E (2008)  6.598843
734523  9999999                        Fish Called Wanda, A (1988)  6.533463

In [27]:
ur20plus = ur20plus.append(pd.DataFrame([["Hulk (2003)",1,9999991,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [28]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [29]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999991]

         userId                                              title     rating
734670  9999991                   Hunt for Red October, The (1990)  11.114067
734510  9999991                          Fifth Element, The (1997)  10.140924
734767  9999991                              Legally Blonde (2001)   9.512592
735244  9999991                        The Devil's Advocate (1997)   9.327778
735062  9999991                                 Role Models (2008)   8.602976
734525  9999991  Fistful of Dollars, A (Per un pugno di dollari...   8.517904
734149  9999991                                      Aliens (1986)   8.471788
735120  9999991          Sherlock Holmes: A Game of Shadows (2011)   8.281423
735355  9999991                             West Side Story (1961)   8.238237
734123  9999991                                6th Day, The (2000)   8.189003

In [30]:
user_movie_matrix.tail()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
608,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.111111,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.111111,0.000000,0.177778,0.133333,0.0
609,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
610,0.133333,0.0,0.0,0.0,0.0,0.0,0.0,0.155556,0.177778,0.111111,...,0.0,0.0,0.133333,0.2,0.133333,0.155556,0.155556,0.000000,0.066667,0.0
9999991,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
9999999,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [31]:
ur20plus = ur20plus.append(pd.DataFrame([["Wild Wild West (1999)",1,9999995,900000000,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [32]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999995]

         userId                                  title    rating
735558  9999995                Blind Side, The  (2009)  9.221283
735802  9999995  Fear and Loathing in Las Vegas (1998)  9.130622
736154  9999995               Miller's Crossing (1990)  8.398761
736253  9999995                    Patriot, The (2000)  8.047646
735798  9999995    Fast Times at Ridgemont High (1982)  8.016894
735809  9999995                    Fighter, The (2010)  7.633740
735512  9999995                   Batman Begins (2005)  7.606032
736056  9999995      Last King of Scotland, The (2006)  7.536535
735830  9999995                    Forget Paris (1995)  7.505000
735645  9999995        Clear and Present Danger (1994)  7.322256

In [33]:
ur20plus = ur20plus.append(pd.DataFrame([["Jerk, The (1979)",1,9999996,900000000,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [34]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999996]

         userId                                              title     rating
737411  9999996                                    Mallrats (1995)  10.214937
737117  9999996                        Fish Called Wanda, A (1988)   8.504625
737289  9999996                                  Inside Out (2015)   8.438497
737119  9999996  Fistful of Dollars, A (Per un pugno di dollari...   8.079088
737094  9999996                                       Fargo (1996)   7.714064
737852  9999996                                  Thing, The (1982)   7.661129
737482  9999996                                       Mulan (1998)   7.631747
736967  9999996  Cowboy Bebop: The Movie (Cowboy Bebop: Tengoku...   7.422754
737153  9999996                           Gangs of New York (2002)   7.361778
737690  9999996                                      Scream (1996)   7.350254