In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [2]:
rating = pd.read_csv('/Users/blakemyers/Desktop/data/ratings.csv', error_bad_lines=False, encoding='latin-1')

In [3]:
rating.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [4]:
movie = pd.read_csv("/Users/blakemyers/Desktop/data/movies.csv", error_bad_lines=False, encoding='latin-1')

In [5]:
movie.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [6]:
movie_rating = pd.merge(rating, movie, on = 'movieId')

In [7]:
movie_rating.head(3)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [8]:
cols = ['timestamp']

In [9]:
movie_rating.drop(cols, axis=1, inplace=True)

In [10]:
movie_rating.head(3)

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [11]:
numrate_movie = movie_rating.groupby("title")["rating"].count().reset_index()

In [12]:
numrate_movie.head(3)

                                     title  rating
0                               '71 (2014)       1
1  'Hellboy': The Seeds of Creation (2004)       1
2                   'Round Midnight (1986)       2

In [13]:
numrate_movie.rename({"rating": "ratecount_movie"}, axis=1, inplace=True)

In [14]:
numrate_movie.head(3)

                                     title  ratecount_movie
0                               '71 (2014)                1
1  'Hellboy': The Seeds of Creation (2004)                1
2                   'Round Midnight (1986)                2

In [15]:
numrate_movie = numrate_movie.query("ratecount_movie >= 20")

In [16]:
numrate_movie.head(3)

                                title  ratecount_movie
8         (500) Days of Summer (2009)               42
18  10 Things I Hate About You (1999)               54
23              101 Dalmatians (1996)               47

In [17]:
ratings20plus = pd.merge(numrate_movie, movie_rating, on = 'title', how = 'inner')

In [18]:
ratings20plus.head(3)

,title,ratecount_movie,userId,movieId,rating,genres
0,(500) Days of Summer (2009),42,15,69757,4.0,Comedy|Drama|Romance
1,(500) Days of Summer (2009),42,18,69757,4.0,Comedy|Drama|Romance
2,(500) Days of Summer (2009),42,22,69757,0.5,Comedy|Drama|Romance

In [19]:
numrate_user = ratings20plus.groupby("userId")["rating"].count().reset_index()

In [20]:
numrate_user.head(3)

   userId  rating
0       1     181
1       2      23
2       3      22

In [21]:
numrate_user.rename({"rating": "ratecount_user"}, axis=1, inplace=True)

In [22]:
numrate_user.head(3)

   userId  ratecount_user
0       1             181
1       2              23
2       3              22

In [23]:
numrate_user = numrate_user.query("ratecount_user >= 20")

In [24]:
ur20plus = pd.merge(ratings20plus, numrate_user, on = "userId", how = "inner")

In [25]:
ur20plus.head(5)

,title,ratecount_movie,userId,movieId,rating,genres,ratecount_user
0,(500) Days of Summer (2009),42,15,69757,4.0,Comedy|Drama|Romance,122
1,101 Dalmatians (One Hundred and One Dalmatians...,44,15,2085,1.5,Adventure|Animation|Children,122
2,28 Days Later (2002),58,15,6502,3.5,Action|Horror|Sci-Fi,122
3,A.I. Artificial Intelligence (2001),56,15,4370,4.0,Adventure|Drama|Sci-Fi,122
4,"Adjustment Bureau, The (2011)",21,15,84954,4.5,Romance|Sci-Fi|Thriller,122

In [26]:
# Next stages:
    # finish the final steps of preprocessing the data
    # build ML model using tensorflow
    # begin training ML model on data

In [27]:
ur20plus.head(3)

,title,ratecount_movie,userId,movieId,rating,genres,ratecount_user
0,(500) Days of Summer (2009),42,15,69757,4.0,Comedy|Drama|Romance,122
1,101 Dalmatians (One Hundred and One Dalmatians...,44,15,2085,1.5,Adventure|Animation|Children,122
2,28 Days Later (2002),58,15,6502,3.5,Action|Horror|Sci-Fi,122

In [28]:
ur20plus = ur20plus.append(pd.DataFrame([["A.I. Artificial Intelligence (2001)",1,9999999,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)

In [29]:
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled

In [30]:
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [31]:
user_movie_matrix.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.777778
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.555556,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

In [32]:
X_train, X_test = train_test_split(user_movie_matrix, train_size=0.8)

In [33]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /Users/blakemyers/opt/anaconda3/envs/tf_environment/lib/python3.7/site-packages/tensorflow_core/python/compat/v2_compat.py:65: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [34]:
num_input = ur20plus['title'].nunique()
# Deciding how many nodes wach layer should have
n_nodes_inpl = num_input  
n_nodes_hl1  = 256  
n_nodes_outl = num_input  
# first hidden layer has 784*32 weights and 32 biases
hidden_1_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_inpl+1,n_nodes_hl1]))}
# first hidden layer has 784*32 weights and 32 biases
output_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_hl1+1,n_nodes_outl]))}

In [35]:
# user with 3706 ratings goes in
input_layer = tf.placeholder('float', [None, num_input])
# add a constant node to the first layer
# it needs to have the same shape as the input layer for me to be
# able to concatinate it later
input_layer_const = tf.fill( [tf.shape(input_layer)[0], 1] ,1.0  )
input_layer_concat =  tf.concat([input_layer, input_layer_const], 1)
# multiply output of input_layer wth a weight matrix 
layer_1 = tf.nn.sigmoid(tf.matmul(input_layer_concat,\
hidden_1_layer_vals['weights']))
# adding one bias node to the hidden layer
layer1_const = tf.fill( [tf.shape(layer_1)[0], 1] ,1.0  )
layer_concat =  tf.concat([layer_1, layer1_const], 1)
# multiply output of hidden with a weight matrix to get final output
output_layer = tf.matmul( layer_concat,output_layer_vals['weights'])
# output_true shall have the original shape for error calculations
output_true = tf.placeholder('float', [None, num_input])
# define our cost function
meansq =    tf.reduce_mean(tf.square(output_layer - output_true))
# define our optimizer
learn_rate = 0.1   # how fast the model should learn
optimizer = tf.train.AdagradOptimizer(learn_rate).minimize(meansq)

WARNING:tensorflow:From /Users/blakemyers/opt/anaconda3/envs/tf_environment/lib/python3.7/site-packages/tensorflow_core/python/training/adagrad.py:76: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [36]:
# initialising variables and starting the session
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)
# defining batch size, number of epochs and learning rate
batch_size = 100  # how many images to use together for training
hm_epochs =200    # how many times to go through the entire dataset
tot_images = X_train.shape[0] # total number of images

In [37]:
# running the model for a 200 epochs taking 100 users in batches
# total improvement is printed out after each epoch
for epoch in range(hm_epochs):
    epoch_loss = 0    # initializing error as 0
    
    for i in range(int(tot_images/batch_size)):
        epoch_x = X_train[ i*batch_size : (i+1)*batch_size ]
        _, c = sess.run([optimizer, meansq],\
               feed_dict={input_layer: epoch_x, \
               output_true: epoch_x})
        epoch_loss += c
        
    output_train = sess.run(output_layer,\
               feed_dict={input_layer:X_train})
    output_test = sess.run(output_layer,\
                   feed_dict={input_layer:X_test})
        
    print('MSE train', MSE(output_train, X_train),'MSE test', MSE(output_test, X_test))      
    print('Epoch', epoch, '/', hm_epochs, 'loss:',epoch_loss)

MSE train 86.24059155812355 MSE test 86.05552652149807
Epoch 0 / 200 loss: 397.7935562133789
MSE train 72.6642668727069 MSE test 72.75200727478028
Epoch 1 / 200 loss: 323.5645980834961
MSE train 63.62635496464935 MSE test 63.85698242554843
Epoch 2 / 200 loss: 276.64864349365234
MSE train 57.210926593434245 MSE test 57.55992331495236
Epoch 3 / 200 loss: 244.65919876098633
MSE train 52.44733057652548 MSE test 52.91401047378563
Epoch 4 / 200 loss: 221.51977157592773
MSE train 48.78456108024659 MSE test 49.36789130510473
Epoch 5 / 200 loss: 204.13033294677734
MSE train 45.88373329857348 MSE test 46.574407311512196
Epoch 6 / 200 loss: 190.61064529418945
MSE train 43.539111333341246 MSE test 44.31622686188256
Epoch 7 / 200 loss: 179.82915496826172
MSE train 41.6033905265686 MSE test 42.44800707062826
Epoch 8 / 200 loss: 171.0539093017578
MSE train 39.97502356931101 MSE test 40.87186186116251
Epoch 9 / 200 loss: 163.76220703125
MSE train 38.58592501477313 MSE test 39.52333689713321
Epoch 10 / 200 loss: 157.6028175354004
MSE train 37.38167037075926 MSE test 38.35523102991269
Epoch 11 / 200 loss: 152.32537460327148
MSE train 36.31883555757954 MSE test 37.3285648824725
Epoch 12 / 200 loss: 147.71918869018555
MSE train 35.36869109912954 MSE test 36.41498204371628
Epoch 13 / 200 loss: 143.62673568725586
MSE train 34.512289448936 MSE test 35.59314262451465
Epoch 14 / 200 loss: 139.9478416442871
MSE train 33.73220280743558 MSE test 34.84563897777839
Epoch 15 / 200 loss: 136.61725616455078
MSE train 33.012792393735154 MSE test 34.157543350047156
Epoch 16 / 200 loss: 133.56567001342773
MSE train 32.34572440947006 MSE test 33.51868635803937
Epoch 17 / 200 loss: 130.74089431762695
MSE train 31.72590275181444 MSE test 32.92224310714319
Epoch 18 / 200 loss: 128.1172161102295
MSE train 31.14810141630964 MSE test 32.36355091016264
Epoch 19 / 200 loss: 125.67473411560059
MSE train 30.60534772564139 MSE test 31.83734983639207
Epoch 20 / 200 loss: 123.39165115356445
MSE train 30.090596276383618 MSE test 31.338556892875083
Epoch 21 / 200 loss: 121.23945617675781
MSE train 29.59909960344244 MSE test 30.863333084344166
Epoch 22 / 200 loss: 119.19244384765625
MSE train 29.127932117205575 MSE test 30.40836014882964
Epoch 23 / 200 loss: 117.23378562927246
MSE train 28.675096787350693 MSE test 29.971534613417937
Epoch 24 / 200 loss: 115.35412979125977
MSE train 28.237879802720386 MSE test 29.55170211350831
Epoch 25 / 200 loss: 113.54568099975586
MSE train 27.813506489014912 MSE test 29.147074025695314
Epoch 26 / 200 loss: 111.7970142364502
MSE train 27.400557912773845 MSE test 28.755916185485958
Epoch 27 / 200 loss: 110.0978889465332
MSE train 26.99915474394371 MSE test 28.37716424291973
Epoch 28 / 200 loss: 108.44449424743652
MSE train 26.60909836154114 MSE test 28.009406362620325
Epoch 29 / 200 loss: 106.83745765686035
MSE train 26.229870300294017 MSE test 27.65135268108218
Epoch 30 / 200 loss: 105.27640151977539
MSE train 25.86040336403876 MSE test 27.301176967969962
Epoch 31 / 200 loss: 103.75735664367676
MSE train 25.49989385529778 MSE test 26.957305148780133
Epoch 32 / 200 loss: 102.27584838867188
MSE train 25.14859486133333 MSE test 26.61956914790801
Epoch 33 / 200 loss: 100.83053588867188
MSE train 24.807012127306503 MSE test 26.288510537601546
Epoch 34 / 200 loss: 99.42373085021973
MSE train 24.474930917528624 MSE test 25.964338358664257
Epoch 35 / 200 loss: 98.05712890625
MSE train 24.151427237321453 MSE test 25.64668677876093
Epoch 36 / 200 loss: 96.72895622253418
MSE train 23.835292887864462 MSE test 25.334733356784138
Epoch 37 / 200 loss: 95.4349365234375
MSE train 23.525339925120587 MSE test 25.027384228912545
Epoch 38 / 200 loss: 94.16995811462402
MSE train 23.220737271335445 MSE test 24.723711696041818
Epoch 39 / 200 loss: 92.92929649353027
MSE train 22.92132548219314 MSE test 24.423534671139343
Epoch 40 / 200 loss: 91.71013450622559
MSE train 22.627384430212963 MSE test 24.127673487269128
Epoch 41 / 200 loss: 90.51262855529785
MSE train 22.33831827582676 MSE test 23.836822734421922
Epoch 42 / 200 loss: 89.33719062805176
MSE train 22.05330314096087 MSE test 23.55136002451507
Epoch 43 / 200 loss: 88.1805191040039
MSE train 21.77291986229078 MSE test 23.271950620790655
Epoch 44 / 200 loss: 87.04041290283203
MSE train 21.49820110844505 MSE test 22.99897152711171
Epoch 45 / 200 loss: 85.92041206359863
MSE train 21.229050014169854 MSE test 22.731886594641086
Epoch 46 / 200 loss: 84.82342529296875
MSE train 20.964699991801893 MSE test 22.46978268822925
Epoch 47 / 200 loss: 83.7477798461914
MSE train 20.704356794194037 MSE test 22.211844302983494
Epoch 48 / 200 loss: 82.68971633911133
MSE train 20.44750852526489 MSE test 21.957729019705965
Epoch 49 / 200 loss: 81.64597511291504
MSE train 20.19402599616302 MSE test 21.70758860057735
Epoch 50 / 200 loss: 80.6148681640625
MSE train 19.944301570533852 MSE test 21.46183004959181
Epoch 51 / 200 loss: 79.59664154052734
MSE train 19.6990471294231 MSE test 21.220854205547525
Epoch 52 / 200 loss: 78.59372520446777
MSE train 19.458766078262055 MSE test 20.984853503768413
Epoch 53 / 200 loss: 77.60918617248535
MSE train 19.223515798126776 MSE test 20.75371618756779
Epoch 54 / 200 loss: 76.64472389221191
MSE train 18.9930235959981 MSE test 20.527114114882345
Epoch 55 / 200 loss: 75.70029830932617
MSE train 18.76697702865704 MSE test 20.3046813248865
Epoch 56 / 200 loss: 74.77471923828125
MSE train 18.54510555870113 MSE test 20.086109815613227
Epoch 57 / 200 loss: 73.86674118041992
MSE train 18.3271534749394 MSE test 19.871125027101343
Epoch 58 / 200 loss: 72.97522163391113
MSE train 18.11302667821942 MSE test 19.659503471689867
Epoch 59 / 200 loss: 72.09924697875977
MSE train 17.902603170450156 MSE test 19.45108311840974
Epoch 60 / 200 loss: 71.23877143859863
MSE train 17.695483956274693 MSE test 19.24556997729546
Epoch 61 / 200 loss: 70.39323616027832
MSE train 17.49137309336842 MSE test 19.04271534009312
Epoch 62 / 200 loss: 69.56120872497559
MSE train 17.29028836489489 MSE test 18.842367908755712
Epoch 63 / 200 loss: 68.74194717407227
MSE train 17.09216026815863 MSE test 18.644335266839594
Epoch 64 / 200 loss: 67.93575859069824
MSE train 16.89657698258907 MSE test 18.44828170961687
Epoch 65 / 200 loss: 67.14178466796875
MSE train 16.703391284364745 MSE test 18.253893059308087
Epoch 66 / 200 loss: 66.35812568664551
MSE train 16.51261890723763 MSE test 18.06095881532225
Epoch 67 / 200 loss: 65.5843858718872
MSE train 16.324067173910905 MSE test 17.86923032214629
Epoch 68 / 200 loss: 64.82033634185791
MSE train 16.137452839057456 MSE test 17.678493448287607
Epoch 69 / 200 loss: 64.06475162506104
MSE train 15.952803538160373 MSE test 17.489004546490722
Epoch 70 / 200 loss: 63.31657028198242
MSE train 15.770388905148986 MSE test 17.301868004749988
Epoch 71 / 200 loss: 62.57675838470459
MSE train 15.589928845747112 MSE test 17.117457985120392
Epoch 72 / 200 loss: 61.845744132995605
MSE train 15.41126564291411 MSE test 16.935846838131297
Epoch 73 / 200 loss: 61.12214469909668
MSE train 15.234395871094696 MSE test 16.757358655579175
Epoch 74 / 200 loss: 60.405789375305176
MSE train 15.059604487422037 MSE test 16.582099276540042
Epoch 75 / 200 loss: 59.69717311859131
MSE train 14.88712097496834 MSE test 16.409853582147555
Epoch 76 / 200 loss: 58.99764347076416
MSE train 14.71688911620737 MSE test 16.24035421347279
Epoch 77 / 200 loss: 58.3077507019043
MSE train 14.54882050575326 MSE test 16.073432715982285
Epoch 78 / 200 loss: 57.62706756591797
MSE train 14.382933394472248 MSE test 15.908985759341155
Epoch 79 / 200 loss: 56.955262184143066
MSE train 14.219355861298684 MSE test 15.746944806090529
Epoch 80 / 200 loss: 56.29244518280029
MSE train 14.05819844594388 MSE test 15.587290239502762
Epoch 81 / 200 loss: 55.63906478881836
MSE train 13.899400657534478 MSE test 15.43001878284168
Epoch 82 / 200 loss: 54.99530220031738
MSE train 13.742851533711214 MSE test 15.275133187022009
Epoch 83 / 200 loss: 54.36065673828125
MSE train 13.588430030912868 MSE test 15.122614386248067
Epoch 84 / 200 loss: 53.73453617095947
MSE train 13.435990374492413 MSE test 14.972388335196943
Epoch 85 / 200 loss: 53.11643314361572
MSE train 13.285426996635218 MSE test 14.824346557251081
Epoch 86 / 200 loss: 52.50585651397705

MSE train 13.13673973118258 MSE test 14.678400299416339
Epoch 87 / 200 loss: 51.9025239944458
MSE train 12.990042080715591 MSE test 14.53451650807695
Epoch 88 / 200 loss: 51.30659198760986
MSE train 12.8454725690568 MSE test 14.392676693636894
Epoch 89 / 200 loss: 50.718610763549805
MSE train 12.703079198025936 MSE test 14.25278547633989
Epoch 90 / 200 loss: 50.13915252685547
MSE train 12.562967523309466 MSE test 14.114724598903162
Epoch 91 / 200 loss: 49.56850242614746
MSE train 12.425524944407455 MSE test 13.978602551314179
Epoch 92 / 200 loss: 49.00768852233887
MSE train 12.290927554943192 MSE test 13.844608085327682
Epoch 93 / 200 loss: 48.45840358734131
MSE train 12.159116049259772 MSE test 13.712784231304958
Epoch 94 / 200 loss: 47.92093563079834
MSE train 12.030008036731145 MSE test 13.583105486549087
Epoch 95 / 200 loss: 47.395036697387695
MSE train 11.903324149225407 MSE test 13.4553923567726
Epoch 96 / 200 loss: 46.88009071350098
MSE train 11.778668031431163 MSE test 13.32933730519303
Epoch 97 / 200 loss: 46.37461853027344
MSE train 11.65570990826118 MSE test 13.204639438700168
Epoch 98 / 200 loss: 45.87690448760986
MSE train 11.534260235342144 MSE test 13.081118710774643
Epoch 99 / 200 loss: 45.38561153411865
MSE train 11.41423027058475 MSE test 12.958778128133936
Epoch 100 / 200 loss: 44.89996528625488
MSE train 11.295604080284866 MSE test 12.837762930131849
Epoch 101 / 200 loss: 44.41955375671387
MSE train 11.178585441913059 MSE test 12.718417846947034
Epoch 102 / 200 loss: 43.944467544555664
MSE train 11.063368350635882 MSE test 12.601118091801828
Epoch 103 / 200 loss: 43.47583484649658
MSE train 10.949864614011089 MSE test 12.485800380406866
Epoch 104 / 200 loss: 43.014302253723145
MSE train 10.838012854358572 MSE test 12.372265952826197
Epoch 105 / 200 loss: 42.55932807922363
MSE train 10.727848111126312 MSE test 12.260427790726448
Epoch 106 / 200 loss: 42.11070728302002
MSE train 10.61936334672515 MSE test 12.15025598557893
Epoch 107 / 200 loss: 41.668612480163574
MSE train 10.512474643690702 MSE test 12.041706104603032
Epoch 108 / 200 loss: 41.23306179046631
MSE train 10.40699479676354 MSE test 11.93468465334686
Epoch 109 / 200 loss: 40.803786277770996
MSE train 10.302611449745461 MSE test 11.829029241160336
Epoch 110 / 200 loss: 40.3799409866333
MSE train 10.19914226189771 MSE test 11.724586858010928
Epoch 111 / 200 loss: 39.96023941040039
MSE train 10.09685179732141 MSE test 11.621455397728639
Epoch 112 / 200 loss: 39.54445457458496
MSE train 9.995648649049924 MSE test 11.519695125805054
Epoch 113 / 200 loss: 39.133530616760254
MSE train 9.895161837958314 MSE test 11.41912515481263
Epoch 114 / 200 loss: 38.72636795043945
MSE train 9.795296858320215 MSE test 11.3196991695597
Epoch 115 / 200 loss: 38.321852684020996
MSE train 9.69605156466724 MSE test 11.22144682934857
Epoch 116 / 200 loss: 37.92002010345459
MSE train 9.597345223149597 MSE test 11.124323612081259
Epoch 117 / 200 loss: 37.5208101272583
MSE train 9.499151474475914 MSE test 11.028277910722883
Epoch 118 / 200 loss: 37.123854637145996
MSE train 9.40173025771559 MSE test 10.933426048244693
Epoch 119 / 200 loss: 36.72940254211426
MSE train 9.305794594760215 MSE test 10.839991272457036
Epoch 120 / 200 loss: 36.33929252624512
MSE train 9.211791231386531 MSE test 10.74792506981641
Epoch 121 / 200 loss: 35.95637130737305
MSE train 9.11960959308407 MSE test 10.656991659939088
Epoch 122 / 200 loss: 35.58132266998291
MSE train 9.028961825612615 MSE test 10.567009487282215
Epoch 123 / 200 loss: 35.213077545166016
MSE train 8.939610048528628 MSE test 10.477888577290738
Epoch 124 / 200 loss: 34.85041427612305
MSE train 8.851439448333625 MSE test 10.389591378036567
Epoch 125 / 200 loss: 34.492526054382324
MSE train 8.76446581006127 MSE test 10.302120224501316
Epoch 126 / 200 loss: 34.13916206359863
MSE train 8.678757260220214 MSE test 10.215519534115595
Epoch 127 / 200 loss: 33.79051876068115
MSE train 8.594361280533818 MSE test 10.129844705123835
Epoch 128 / 200 loss: 33.446882247924805
MSE train 8.511460263895147 MSE test 10.04518722622042
Epoch 129 / 200 loss: 33.10847854614258
MSE train 8.430260545284277 MSE test 9.961726487155952
Epoch 130 / 200 loss: 32.776244163513184
MSE train 8.350621044132051 MSE test 9.87954744786016
Epoch 131 / 200 loss: 32.450843811035156
MSE train 8.272330490262839 MSE test 9.79864944965336
Epoch 132 / 200 loss: 32.13139295578003
MSE train 8.195278737146166 MSE test 9.719014711660785
Epoch 133 / 200 loss: 31.81697416305542
MSE train 8.119495453611119 MSE test 9.640623858661517
Epoch 134 / 200 loss: 31.50730276107788
MSE train 8.0450217409614 MSE test 9.563436467734652
Epoch 135 / 200 loss: 31.202712059020996
MSE train 7.971762650899221 MSE test 9.487350039700898
Epoch 136 / 200 loss: 30.903378009796143
MSE train 7.899539052333913 MSE test 9.4122386646554
Epoch 137 / 200 loss: 30.60885763168335
MSE train 7.828172260873064 MSE test 9.338000485364143
Epoch 138 / 200 loss: 30.318410873413086
MSE train 7.757579780801721 MSE test 9.264580267981472
Epoch 139 / 200 loss: 30.031400203704834
MSE train 7.6878178884276105 MSE test 9.191972568970927
Epoch 140 / 200 loss: 29.747711181640625
MSE train 7.618897062877863 MSE test 9.120151916346908
Epoch 141 / 200 loss: 29.467625617980957
MSE train 7.550693886482055 MSE test 9.04902735064448
Epoch 142 / 200 loss: 29.19093894958496
MSE train 7.483118750015871 MSE test 8.978513522664016
Epoch 143 / 200 loss: 28.91701364517212
MSE train 7.416186542816804 MSE test 8.908579062522728
Epoch 144 / 200 loss: 28.64555025100708
MSE train 7.349901687270699 MSE test 8.839209568320612
Epoch 145 / 200 loss: 28.37661838531494
MSE train 7.284181580954042 MSE test 8.770366924763687
Epoch 146 / 200 loss: 28.110103607177734
MSE train 7.218922440608289 MSE test 8.702033349240153
Epoch 147 / 200 loss: 27.845541954040527
MSE train 7.154128889143058 MSE test 8.634305637184642
Epoch 148 / 200 loss: 27.582546710968018
MSE train 7.089970691063047 MSE test 8.567414897219917
Epoch 149 / 200 loss: 27.321346759796143
MSE train 7.026694261730674 MSE test 8.50158899277361
Epoch 150 / 200 loss: 27.06287670135498
MSE train 6.964550743983858 MSE test 8.436951956737191
Epoch 151 / 200 loss: 26.808327674865723
MSE train 6.903676182208182 MSE test 8.373499484333648
Epoch 152 / 200 loss: 26.55873155593872
MSE train 6.8440805647680465 MSE test 8.311117169289961
Epoch 153 / 200 loss: 26.31449317932129
MSE train 6.785731952462836 MSE test 8.2496545247169
Epoch 154 / 200 loss: 26.075525760650635
MSE train 6.728582539306732 MSE test 8.188990449268237
Epoch 155 / 200 loss: 25.84159278869629
MSE train 6.672550285273595 MSE test 8.129069204124377
Epoch 156 / 200 loss: 25.61237907409668
MSE train 6.617544294533463 MSE test 8.069931917742396
Epoch 157 / 200 loss: 25.3874454498291
MSE train 6.563512663840809 MSE test 8.011727724497048
Epoch 158 / 200 loss: 25.16640329360962
MSE train 6.5104303565236945 MSE test 7.9546346816290034
Epoch 159 / 200 loss: 24.949050426483154
MSE train 6.458181430222677 MSE test 7.898659903557516
Epoch 160 / 200 loss: 24.7352557182312
MSE train 6.406571246752816 MSE test 7.843496877315143
Epoch 161 / 200 loss: 24.524494647979736
MSE train 6.355801322014617 MSE test 7.788854405721498
Epoch 162 / 200 loss: 24.3164005279541
MSE train 6.306438378027243 MSE test 7.735018532963133
Epoch 163 / 200 loss: 24.11264991760254
MSE train 6.258430532464883 MSE test 7.682399765771454
Epoch 164 / 200 loss: 23.9150390625
MSE train 6.211477404404455 MSE test 7.631075281815353
Epoch 165 / 200 loss: 23.722748279571533
MSE train 6.165453843555445 MSE test 7.5810461325941265
Epoch 166 / 200 loss: 23.53469181060791
MSE train 6.120250833962266 MSE test 7.53223995584979
Epoch 167 / 200 loss: 23.350471019744873
MSE train 6.07573810957892 MSE test 7.484521515310375
Epoch 168 / 200 loss: 23.169641971588135
MSE train 6.031807036360727 MSE test 7.437772205971919
Epoch 169 / 200 loss: 22.99165964126587
MSE train 5.988377903644804 MSE test 7.391908092330788
Epoch 170 / 200 loss: 22.816081047058105
MSE train 5.9453976110603035 MSE test 7.346867199360608
Epoch 171 / 200 loss: 22.642588138580322
MSE train 5.9028406484199465 MSE test 7.302597177646396
Epoch 172 / 200 loss: 22.470984935760498

MSE train 5.860709732736984 MSE test 7.259050320314119
Epoch 173 / 200 loss: 22.30119276046753
MSE train 5.819033832414275 MSE test 7.216188228278592
Epoch 174 / 200 loss: 22.133257389068604
MSE train 5.777861245844892 MSE test 7.173988199037769
Epoch 175 / 200 loss: 21.967336177825928
MSE train 5.737246708611544 MSE test 7.13244235949891
Epoch 176 / 200 loss: 21.803627967834473
MSE train 5.69723881817597 MSE test 7.091546183963361
Epoch 177 / 200 loss: 21.642327308654785
MSE train 5.657876804206143 MSE test 7.051291771370371
Epoch 178 / 200 loss: 21.483574867248535
MSE train 5.619186352467403 MSE test 7.011667400427529
Epoch 179 / 200 loss: 21.327467918395996
MSE train 5.5811666258678745 MSE test 6.9726557203574515
Epoch 180 / 200 loss: 21.17404270172119
MSE train 5.5437812419545915 MSE test 6.934228061199409
Epoch 181 / 200 loss: 21.02324628829956
MSE train 5.506964885290777 MSE test 6.896345742541242
Epoch 182 / 200 loss: 20.874892234802246
MSE train 5.470640787957771 MSE test 6.858966044326529
Epoch 183 / 200 loss: 20.728698253631592
MSE train 5.434740038479751 MSE test 6.82205101585286
Epoch 184 / 200 loss: 20.584348678588867
MSE train 5.3992188035556286 MSE test 6.785573559783087
Epoch 185 / 200 loss: 20.441579341888428
MSE train 5.364070872353164 MSE test 6.749520200615809
Epoch 186 / 200 loss: 20.30023717880249
MSE train 5.329324693148354 MSE test 6.713888419058313
Epoch 187 / 200 loss: 20.160336017608643
MSE train 5.295014332601741 MSE test 6.678676760942102
Epoch 188 / 200 loss: 20.022023677825928
MSE train 5.261134242640163 MSE test 6.643869114617594
Epoch 189 / 200 loss: 19.885449409484863
MSE train 5.227614990971847 MSE test 6.6094290120882
Epoch 190 / 200 loss: 19.75056219100952
MSE train 5.194372107253775 MSE test 6.575326239353882
Epoch 191 / 200 loss: 19.61704969406128
MSE train 5.161490891665076 MSE test 6.541640168573029
Epoch 192 / 200 loss: 19.484633445739746
MSE train 5.129203443647257 MSE test 6.508593542146186
Epoch 193 / 200 loss: 19.353864669799805
MSE train 5.097482569954991 MSE test 6.4762381890412435
Epoch 194 / 200 loss: 19.22556447982788
MSE train 5.066211392183661 MSE test 6.4445009991180875
Epoch 195 / 200 loss: 19.09946584701538
MSE train 5.03531851126205 MSE test 6.413334550608424
Epoch 196 / 200 loss: 18.975144386291504
MSE train 5.004735513424413 MSE test 6.382694484687013
Epoch 197 / 200 loss: 18.852341175079346
MSE train 4.974397941011938 MSE test 6.352532071780282
Epoch 198 / 200 loss: 18.730778694152832
MSE train 4.9442764625844156 MSE test 6.322802696542734
Epoch 199 / 200 loss: 18.610218048095703

In [38]:
# ur20plus = ur20plus.append(pd.DataFrame([["A.I. Artificial Intelligence (2001)",1,9999999,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)

# scaler = MinMaxScaler()
# ur20plus['rating'] = ur20plus['rating'].values.astype(float)
# rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
# ur20plus['rating'] = rating_scaled

# ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
# user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
# user_movie_matrix.fillna(0, inplace=True)

In [39]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [40]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999999]

         userId                              title    rating
735141  9999999                     Skyfall (2012)  7.716952
734742  9999999                   King Kong (1933)  7.497094
734759  9999999  Last King of Scotland, The (2006)  7.470444
735291  9999999                        Toys (1992)  7.462188
734701  9999999               Into the Wild (2007)  7.319569
734992  9999999                 Poltergeist (1982)  7.074063
734612  9999999     Guardians of the Galaxy (2014)  6.922525
734464  9999999                     Ed Wood (1994)  6.844630
735080  9999999                  Saint, The (1997)  6.807467
734295  9999999          Brokeback Mountain (2005)  6.425684

In [41]:
ur20plus = ur20plus.append(pd.DataFrame([["Hulk (2003)",1,9999991,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [42]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [43]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999991]

         userId                                              title    rating
734475  9999991  Englishman Who Went Up a Hill But Came Down a ...  7.362302
734929  9999991                          North by Northwest (1959)  7.205393
734126  9999991                               About Schmidt (2002)  6.790761
734980  9999991  Pirates of the Caribbean: The Curse of the Bla...  6.749935
734357  9999991                                      Cocoon (1985)  6.604098
735080  9999991                                  Saint, The (1997)  6.315989
735245  9999991                            The Hunger Games (2012)  6.303861
734361  9999991                         Conan the Barbarian (1982)  6.275743
735009  9999991                                  Prometheus (2012)  6.234092
734941  9999991                                Office Space (1999)  6.181133

In [44]:
user_movie_matrix.tail()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
608,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.111111,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.111111,0.000000,0.177778,0.133333,0.0
609,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
610,0.133333,0.0,0.0,0.0,0.0,0.0,0.0,0.155556,0.177778,0.111111,...,0.0,0.0,0.133333,0.2,0.133333,0.155556,0.155556,0.000000,0.066667,0.0
9999991,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
9999999,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [45]:
ur20plus = ur20plus.append(pd.DataFrame([["Wild Wild West (1999)",1,9999995,900000000,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [46]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999995]

         userId                                           title    rating
736106  9999995                    M*A*S*H (a.k.a. MASH) (1970)  8.204329
736332  9999995          Return of the Pink Panther, The (1975)  7.791020
736009  9999995                                      JFK (1991)  7.564932
736172  9999995       Monty Python's The Meaning of Life (1983)  7.076991
736370  9999995                            Runaway Bride (1999)  6.899931
736150  9999995  Midnight in the Garden of Good and Evil (1997)  6.889815
736015  9999995                                Jerk, The (1979)  6.611366
736137  9999995                         Meet the Fockers (2004)  6.414832
736684  9999995                                  Yes Man (2008)  6.357397
735726  9999995                               Disclosure (1994)  6.298272

In [47]:
ur20plus = ur20plus.append(pd.DataFrame([["Jerk, The (1979)",1,9999996,900000000,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [48]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999996]

         userId                                             title    rating
736700  9999996                               12 Angry Men (1957)  7.395582
737629  9999996            Return of the Pink Panther, The (1975)  6.805464
737434  9999996                           Meet the Fockers (2004)  6.767052
736739  9999996                        Alice in Wonderland (1951)  6.749312
736951  9999996                                     Cocoon (1985)  6.607780
737110  9999996                               Finding Nemo (2003)  6.279869
737957  9999996                       White Men Can't Jump (1992)  6.248486
737295  9999996                              Into the Wild (2007)  6.197792
737084  9999996                         Executive Decision (1996)  6.153769
737221  9999996  Harry Potter and the Order of the Phoenix (2007)  6.092871